/*Estilos da página index.html*/
.center {
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#menu li {
    display: inline;
    padding: 20px;
}

#menu li a {
    text-decoration: none;
    color: blue;
}

#menu li a:hover {
    color: darkblue;
}

.tamanho {
    width: 750px;
    height: 500px;
}

/*Estilos da página contato.html*/